In [2]:
import pandas as pd

In [3]:
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LinearRegression

In [5]:
df = pd.read_parquet('/workspaces/MLOps_Zoomcamp/data/yellow_tripdata_2023-01.parquet')

In [6]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

In [7]:
len(df.columns)

19

In [8]:
df['duration'] =  df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']
# give duration in minutes
df['duration'] = df['duration'].dt.total_seconds() / 60

In [9]:
df['duration'].std()

42.594351241920904

In [10]:
df.size

61335320

In [11]:
df = df[(df['duration'].ge(1)) & (df['duration'].le(60))]
df.size

60183460

In [12]:
60183460/61335320

0.9812202822125979

In [13]:
categorical_columns = ['PULocationID', 'DOLocationID']
numerical_columns = ['trip_distance']

In [14]:
df[categorical_columns] = df[categorical_columns].astype(str)

In [15]:
train_dict = df[categorical_columns + numerical_columns].to_dict(orient='records')

In [16]:
dv = DictVectorizer() 
x_train = dv.fit_transform(train_dict)

In [17]:
x_train

<3009173x516 sparse matrix of type '<class 'numpy.float64'>'
	with 9027519 stored elements in Compressed Sparse Row format>

In [18]:
len(dv.feature_names_)

516

In [19]:
target = 'trip_distance'
y_train = df[target].values

In [20]:
lr_model = LinearRegression()
lr_model.fit(x_train,y_train)

LinearRegression()

In [21]:
y_pred = lr_model.predict(x_train)

In [22]:
sns.histplot(y_pred,label = 'Pred',kde=True)
sns.histplot(y_train,label = 'Actual',kde=True)
# plot the histplot

plt.legend()

: